@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root{
    --font-principal: 'Roboto', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-principal);
}

.container{
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    color: white;
    padding: 15px;
    text-transform: uppercase;
    margin-bottom: 20px;
}


header ul {
    display: flex;
    list-style-type: none;
}

header li{
    display: flex;
    align-items: center;
    padding-left: 20px;
}

header a{
    text-decoration: none;
    font-weight: bold;
    color: white;
}

header a:hover{
    text-decoration: underline;
}



.sobre-a-loja {
    display: flex;
    justify-content: space-between;
    
}

.sobre-a-loja img{
    margin-right: 20px;
    height: 100%;
}

.sobre-texto{
    display: flex;
    flex-direction: column;
    align-items: center;


}

.sobre-texto > h2{
    border-bottom: 2px solid black;
    width: 100%;
    padding: 20px;
}

.sobre-p{
    margin: 10% auto;
}

.sobre-p p{
    text-indent: 5px;
    text-align: justify;
    padding-bottom: 20px;
}

.produtos h2{
    border-bottom: 2px solid black;
    width: 100%;
    padding: 20px;
    margin: 20px 0;
}

.produtos button{
    background-color: black;
    color: white;
    padding: 17px;
    margin: 10px 0px 0px 0px;
    border: none;
    border-radius: 30px;
    font-size: 15px;
    text-transform: uppercase;
    cursor: pointer;
}

.produtos button:hover{
    text-decoration: underline;
}

.material-symbols-outlined:hover{
    text-decoration: none;
}

.grid img{
    width: 100%;
}

.grid{
    display: grid;
    grid-template-columns: repeat(4,23.6%);
    column-gap: 20px;
    row-gap: 3%;
    text-align: center;
}

footer{
    background-color: black;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    color: white;
}

footer a{
    color: white;
}

@media screen and (min-width: 641px) and (max-width: 1023px){
    .container{
        max-width: 600px;
        margin: 0 auto;
    }
    
    .sobre-a-loja img{
        width: 100%;
    }

    .sobre-a-loja {
        display: block;
        
    }

    .sobre-p{
        margin: 10% auto;
    }


    .produtos h2{
        padding-top: 0px;
        margin: 0px 0px 20px 0px;
    }

    .grid{
        display: block;
        text-align: center;
    }

    .grid article{
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 640px) {
    .container{
        max-width: 400px;
        margin: 0 auto;
    }
    
    .sobre-a-loja img{
        width: 100%;
    }

    .sobre-a-loja {
        display: block;
        
    }

    .sobre-p{
        margin: 10% auto;
    }


    .produtos h2{
        padding-top: 0px;
        margin: 0px 0px 20px 0px;
    }

    .grid{
        display: block;
        text-align: center;
    }

    .grid article{
        margin-bottom: 20px;
    }
}









